.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 68rem;
  margin: 0 auto;
}

.slider {
  position: relative; /* Đặt position là relative */
  display: flex;
  aspect-ratio: 17 / 10;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.25rem hsla(0, 0%, 0%, 0.25);
  border-radius: 2rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-nav button {
  background: rgba(255, 255, 255, 0.75);
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background 250ms ease;
}

.slider-nav button:hover {
  background: rgba(255, 255, 255, 1);
}
